In [9]:
##in Python strings are displayed  via double quotes "" or single quote ('')
## Opening and closing quotes should march

availabilty_zone = "elvis"
tags = "Devops Team"
print(tags)
print(availabilty_zone)

team_devops = {
    "SRE" :  "BMO",
    "IAS" : "TERRAFORM",
     "AUTOMATION" : "JENKINS",
     "CONFIGURATIONMANAGEMENT" : "ANSIBLE"
}

print(team_devops)
type(team_devops)

students_batch = "class23"

print(students_batch)

#if you need both single and double quotes in a strings
# EOL = END OF LINE

Devops Team
elvis
{'SRE': 'BMO', 'IAS': 'TERRAFORM', 'AUTOMATION': 'JENKINS', 'CONFIGURATIONMANAGEMENT': 'ANSIBLE'}
class23

In [18]:
double_in_single =   'John is a good boy, "he runs every morninf"'
print(double_in_single)

single_in_double = "i love Canada, 'i and my family love it here'"
print(single_in_double)

##in python we can do arithmetic operations for strings
## for exmaple 
####**Exceptional Case** + and ** is possible 

first = "sunnny"
second = "days"
first + second   ###concatenation


####multipl;ication in strings

4 * second

6 * '5'
50 * 'love'

John is a good boy, "he runs every morninf"
i love Canada, 'i and my family love it here'

'lovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelovelove'

In [21]:
##  

print("i love you' and my wife")

i love you' and my wife