In [4]:
a = 10 
b = 10 

ab = a * b 

print (ab)
type (ab)

a = 10 
b = 100

ab = a + b 
print(ab)

type (1.3)

100
110

float

In [11]:
interger = 18 
type(interger)
floating_print_number = 100.0983
print(floating_print_number)
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

tripple = ('A', 'B', 'C')
print (tripple)
to_ten = range(10)
print(to_ten)

100.0983
[1, 2, 3, 4, 5]
('A', 'B', 'C')
range(0, 10)

In [13]:
type(range)

type

In [14]:
for i in to_ten:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
##Dictionary

In [17]:
students_details = {
    "name" : "Elvis",
     "lastname": "Nketi",
     "sex" :  "male"
}

print(students_details)

{'name': 'Elvis', 'lastname': 'Nketi', 'sex': 'male'}

In [19]:
price_list = {
    "apple" : "20",
    "books" : "40",
    "city": "orillia"
}

print(price_list)

{'apple': '20', 'books': '40', 'city': 'orillia'}

In [20]:
club_members = {
    "name" : "elvis",
     "name" : "john",
     "name" : "simon",
     "name" : "joyce"
}

print(club_members)

{'name': 'joyce'}

In [21]:
type(club_members)

dict

In [23]:
set_of_numbers = set([1,2,3,4,5,6,7,8,])
print(set_of_numbers)
type(set_of_numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

set

In [28]:
car_price = set([100,1001,3000,5000])
print(car_price)
type(car_price)

price_book = list([100,500,8000])
print(price_book)
type(price_book)

{3000, 1001, 100, 5000}
[100, 500, 8000]

list

In [30]:
city_income = {
    "orillia" : "10000",
    "barrie"  : "60000" , 
    "toronto"  : "7000" ,
    "montreal" : "90000",
    "edmonto"  : "150000"
 }

print(city_income)

{'orillia': '10000', 'barrie': '60000', 'toronto': '7000', 'montreal': '90000', 'edmonto': '150000'}

In [33]:
availability_zones = ["us-east-1", "us-east-2", "us-east-3"]
type(availability_zones)
print(availability_zones)

devop_tools = ["git", "jenkins", "maven", "teraform", "docker", "k8s", "ansible"]
type(devop_tools)

['us-east-1', 'us-east-2', 'us-east-3']

list

In [35]:
correct = True
wrong = False 

type (correct)
type (wrong)

bool