In [6]:
 p = "Canada"

 print(p)
 len(p)
 type(p)

 p.capitalize()
 p.upper()

Canada

'CANADA'

In [7]:
name = 'elvis'

In [8]:
name.upper()

'ELVIS'

In [11]:
name.casefold()
name.index(2)

TypeError: must be str, not int

In [15]:
devop_tools = {'ansible':'cm', 'jenkins':'cicd', 'docker':'container'}
print(devop_tools)

{'ansible': 'cm', 'jenkins': 'cicd', 'docker': 'container'}

In [16]:
devop_tools['ansible']

'cm'

In [17]:
devop_tools['cm']

KeyError: 'cm'

In [18]:
devop_tools['docker']

'container'

In [23]:
##tuples are use to represent things that cat be changed 
t = (1,2,3,4)
top10 = ('elvis', 'simon', 'jane', 'bila')

In [25]:
len(t)
len(top10)
type(top10)

tuple